/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1024px) {
    nav {
        width: 450px;
    }

    .header_ul a {
        width: 200px;
        text-align: center;
    }

    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .left-side {
        width: 100%;
        margin-bottom: 50px;
    }

    .right-side {
        width: 100%;
    }

}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .burger-icon {
        display: block;
        color: #636060;
    }
    
    .right-side div {
        width: 50%;
    }

    main {
        padding: 50px;
    }
}

@media (max-width: 480px) {
    .right-side div {
        width: 100%;
    }
}